@charset "utf-8";

@font-face {
    font-family: utm;
    src: url("../fonts/utm_avo.ttf");
}

/*************  Start CSS header ****************/
.navbar.navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
}

.navbar-default .navbar-nav>li>a {
    padding: 15px 10px;
    line-height: 25px;
}

.navbar-default .navbar-nav li a {
    font-size: 14px;
    color: #0a0a0a;
    display: block;
    text-transform: uppercase;
}

.tr-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 0;
    min-width: 180px;
    list-style: none;
    background-color: #fff;
    border-top: 1px solid #ddd;
    z-index: 9999;
    display: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -ms-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -o-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.tr-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-default .navbar-nav li a {
    font-size: 14px;
    color: #0a0a0a;
    display: block;
    text-transform: uppercase;
}
.tr-dropdown-menu li a, .dropdown-menu li a {
    padding: 5px 20px;
    display: block;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f7941d;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #666;
    border-radius: 2px;
}
.navbar-default .navbar-nav>li>a {
    padding: 15px 10px;
    line-height: 25px;
}
.navbar-default .navbar-nav li a {
    font-size: 14px;
    color: #0a0a0a;
    display: block;
    text-transform: uppercase;
}

.sign-in {
    display: inline;
    margin-right: 35px;
}
.tr-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sign-in li {
    display: inline-block;
}
.sign-in li i {
    margin-right: 5px;
}
.navbar-right .dropdown i, .sign-in li i {
    color: #d1d3e2;
    font-size: 18px;
}
.navbar-right .dropdown-menu a, .sign-in a {
    color: #252525;
    font-size: 12px;
}

.navbar-right .dropdown span:hover, .sign-in a:hover, .dropdown-menu li a:hover, .dropdown-menu li a:focus {
    color: #008def;
    background-color: transparent;
}

.fa-user {
    color: #008def !important;
}

.navbar-default {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

.sign-in li:last-child {
    position: relative;
    margin-left: 10px;
}
.sign-in li {
    display: inline-block;
}

.btn-theme2 {
    background-color: #06979e;
    color: #fff !important;
    border-color: #06979e;
}
a:focus, a:hover {
    color: #008329;
    text-decoration: underline;
}
.navbar-right {
    margin-top: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

/*************  End CSS Header *********************/




/*************  Start CSS main-emoseeker ****************/
#testimonial{
  height: 400px;
}

.owl-stage {
    height: 200px;
}

#main-emoseeker-banner{
    width: 100%;
    height: 450px;
}

.carousel-caption{
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

#main-emoseeker-area{
	background: #eeeeee;
}

.testimonial{
	background: #ffffff;
}

p.get-matched {
    font-family: utm;
    font-size: 27px;
    color: white;
}

p.through-our {
	font-family: utm;
    font-size: 20px;
    color: white;
}

h3.hire-best {
    color: white;
    font-family: utm;
    font-weight: bold;
    font-size: 22px;
}

.btn-get-started{
	text-decoration: none;
    background: #a9e013;
    color: #0b1b08;
    padding: 18px 42px;
    text-align: center;
    transition: 0.9s;
    cursor: pointer;
    margin-top: 20px;
}

.btn-get-started:hover{
	background: white;
    color: #2f7d21;
}
.h2, h2 {
    font-size: 25px;
    font-weight: 300;
}

.blockquote {
    padding: 14px 10px;
    margin: 0 0 20px;
    font-size: 13px;
    border-left: 5px solid #eee;
}

h4.mb-4.section-title {
    margin-top: 60px;
    text-align: center;
    font-family: utm;
    color: #2f7d21;
    font-weight: bold;
    font-size: 30px;
}

.owl-dots{
  text-align: center;
}

.block-11 .owl-dots .owl-dot>span {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #ccc;
    margin: 5px;
    border-radius: 50%;
}

.block-11 .owl-dots .owl-dot.active>span {
    background: #ffc107;
}
/*************** CSS Testimonials ************/
.block-33 .vcard .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    margin-right: 20px;
}
.block-33 .vcard .image img {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #fff;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.block-33 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
/************** End CSS Testimonials *********/

.for-freelancer h4 , .want-freelancer h4{
    margin-top: 60px;
    text-align: center;
    font-family: utm;
    color: #2f7d21;
    font-weight: bold;
    font-size: 30px;
}

.for-freelancer p {
    text-align: center;
    font-family: utm;
    color: #4c4c4c;
}

.review-freelancers-area{
	display: flex;
}

.review-freelancers-area p{
	font-family: utm;
    color: #4c4c4c;
    margin-left: 20px;
    margin-top: 38px;
}

.send-freelancers-area{
	display: flex;
}

.send-freelancers-area p{
	font-family: utm;
    color: #4c4c4c;
    margin-left: 20px;
}

.send-review{
	margin-top: 40px;
}

a.a-paypal {
    color: #2f7d21;
    text-decoration: none;
}

.are-ready{
	width: 100%;
    height: 300px;
    background: url(../images/are-ready.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.are-ready p{
	font-family: utm;
    color: #4c4c4c;
}

.in-want-freelancer{
	width: 100%;
	text-align: center;
	margin-top: 60px;
}

.in-want-freelancer b{
	font-family: utm;
    color: #333333;
    text-align: center;
}

.in-want-freelancer p{
	font-family: utm;
    color: #4c4c4c;
    text-align: center;
}

img.img-post-a-job {
    margin-bottom: 20px;
}

img.img-freelancers {
    margin-bottom: 20px;
    margin-top: 22px;
}

img.img-collaborate {
    margin-bottom: 20px;
    margin-top: 20px;
}

img.img-payment {
    margin-bottom: 20px;
    margin-top: 20px;
}

.talented-freelancer{
	width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.talented-freelancer p{
	font-family: utm;
    color: #4c4c4c;
}




* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: utm;
  color: #4c4c4c;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*************  End CSS main-emoseeker *********************/



/*************  Start CSS footer ****************/
.footer, .footer a {
    color: #858585;
}
.footer {
    border-top: solid 1px #ccc
}
.section-padding {
    padding: 20px 0;
}
.footer h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.tr-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section-padding {
    padding: 20px 0;
}

.select-skill-below{
  background: #eeeeee;
}

.footer .footer-top {
    background: #333;
}

.footer .footer-bottom {
    background: #222;
}

.footer-widget li {
    margin-bottom: 20px;
}

.footer-top h3 {
    color: #fff;
}

form.form-horizontal .form-group {
    margin-right: 10px;
    margin-left: 10px;
}
form.form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
}

form.form-horizontal .captcha {
    margin: 0;
    width: 300px;
    height: 54px;
}
.captcha {
    width: 100%;
    margin: 0px;
    cursor: pointer;
}

.btn-theme2 {
    box-shadow: none;
    background-color: darkcyan !important;
    color: #fff !important;
    border-color: #06979e;
}

.btn-theme2:hover, .btn-theme2:active, .btn-theme2:visited .btn-theme2:link {
    box-shadow: none;
    background-color: darkcyan !important;
    color: #fff !important;
    border-color: #06979e;
}

.footer-widget .btn {
     padding: 5px 20px; 
     text-transform: capitalize; 
}

.footer .copyright {
    float: left;
}

.footer .copyright {
    float: left;
}

.pull-right {
    float: right!important;
}

.tr-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social li {
    float: left;
}

.footer-social li a {
    font-size: 16px;
    color: #d1cfd1;
}

.footer-bottom {
    padding: 25px 0 15px;
}

.footer a:hover {
    color: #008def;
}

.footer-social li a {
    font-size: 16px;
    color: #d1cfd1;
    margin-right: 20px;
}
/*************  End CSS footer *********************/





